button {
  background-color: #e8e8e8;
  border: none;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: underline overline;
  display: inline-block;
  font-size: 10px;
}

button:hover {
  background-color: #e8e8e8;
  color: grey;
}
