button {
  background-color:#19b58b;
  border: none;
  color: black;
  padding: 2px 5px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 10px;
}

button:hover {
  background-color: #90ee90;
  color: black;
}

#searchtext {
  overflow: hidden;
}

#results {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
