.searchbutton {
  background-color: #e8e8e8;
  border: none;
  color: White;
  padding: 15px 32px;
  text-align: center;
  text-decoration: underline overline;
  display: inline-block;
  font-size: 16px;
}

.searchbutton:hover {
  background-color: #e8e8e8;
  color: white;
}
