@import "{{theme: jekyll-theme-midnight}}";

.searchbar {
    text-align: center;
}

.creditsleft {
    text-align: left;
    font-size: 10px;
}

.creditsright {
    text-align: right;
    font-size: 10px;
}