@import "{{theme: jekyll-theme-midnight}}";

.searchbar {
    text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.searchbar {
    align-self: center;
}



#index {
    text-align: center;
    font-size: 10px;
}

container{
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 240px auto;
    
}


footer {
   position: fixed;
    padding: 10px 20px;
   Right: 40px;
    width: 100%;
   
}
